.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero-article {
    background-color: #ffffff;
    max-width: 400px;
    position: absolute;
    top: 70px;
    left: 255px;
    padding: 30px 20px;
    box-shadow: 1px 2px 10px #3e3e3e;
}

.tag-article {
    text-transform: uppercase;
    font-size: 12px;
    color: #747473;
}

.header-article {
    margin: 10px 0;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: normal;
    color: #343434;
}

.desc-article {
    margin: 0;
    color: #777777;
}

.link-article {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #446084;
    display: inline-block;
    margin: 16px 0 0 0;
    padding: 8px 15px;
    font-size: 12px;
}