/*noinspection ALL*/
body {
    margin: 0;
    font-family: Roboto;
}

.content {

}

.nav-bar {
    max-width: 1200px;
    margin: 15px auto 15px auto;
    display: grid;
    grid-template-columns: repeat(14,1fr);
    grid-gap: 10px;

}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    grid-column: 1 / 5;
}

.nav-bar ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    grid-column: 7 / 15;
    display: grid;
    grid-template-columns: repeat(15,1fr);
    align-content: center;
}

.nav-bar ul>li {
    margin: 0 0 0 10px;
    text-transform: uppercase;
    font-size: 12px;

}

.nav-bar a {
    text-decoration: none;
    color: #7D7D7D;
}

.nav-bar ul>li a:hover {
    color: #343434;
}

.sign-up a{
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 10px;
    color: #D26E4B;
    font-weight: bold;

}

.buy-now a{
    border: 1px solid;
    border-radius: 15px;
    padding: 6px 10px;
    background-color: #446084;
    color: #fff;
    font-weight: bold;

}

.sign-up {
    grid-column: 8/ 10;

}


.buy-now {
   grid-column: 10 / 13;
}

i::after {
    display: block;
    content: "";
    height: 18px;
    border-right: 1px solid;
    margin-right: -12px;
    margin-top: -15px;
}


