/*noinspection ALL*/
body {
    margin: 0;
    font-family: Roboto;
}

.content {

}

.nav-bar {
    max-width: 1200px;
    margin: 15px auto 15px auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;

}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar-links{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-content: center;
}

.buy-signup {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-content: center;
}

.navbar-links:last-child li{
    margin-left: 2px;
    margin-right: 2px;
}

.nav-bar ul>li {
    margin: 0 0 0 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.nav-bar a {
    text-decoration: none;
    color: #7D7D7D;
}

.navbar-links a:hover {
    color: #343434;
}

.sign-up a{
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 10px;
    color: #D26E4B;
    font-weight: bold;

}

.buy-now a{
    border: 1px solid;
    border-radius: 15px;
    padding: 6px 10px;
    background-color: #446084;
    color: #fff;
    font-weight: bold;
}
.search-btn {
    margin: 0 10px;
}
i::after {
    display: block;
    content: "";
    height: 18px;
    border-right: 1px solid;
    margin-right: -10px;
    margin-top: -15px;
}


