/*under hero*/

img {
    display: block;
}
.company-features {
    list-style-type: none;
    text-align: center;
    display: flex;
    margin: 40px 200px 40px 200px;

}

.company-features li:not(:last-child) {
    border-right: 1px solid #CECECE;
}

.company-features li img {
    display: block;
    border: 3px solid #446084;
    border-radius: 50%;
    margin: 0 auto;
    padding: 4px;
}

.feature-heading {
    text-transform: uppercase;
    color: #555555;
    display: block;
    margin-top: 16px;
}

.feature-desc {
    color: #777777;
    padding: 0 20px 0 20px;
}

/*popular*/
.wrapper-popular {
    width: 100%;
    margin: 0px auto 0px auto;
    background-color: #F6F6F6;
}

.popular {
    display: flex;
    padding: 50px 270px 50px 270px;

}



.popular img {
    display: block;
    box-shadow: 1px 1px 2px #464646;
}

.popular section {
    padding: 50px 0px;
    padding-left: 80px;
}

.section-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: #555555;
}

.section-desc {
    color: #777;
}

.section-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #446084;
    padding: 8px 14px;
    color: #fff;
}

.wrapper-popular:last-child {
    background-color: #ffffff;
}

.popular2{
    display: flex;
    padding: 50px 270px 50px 270px;
    flex-direction: row-reverse;
    background-color: #fff;
}

.wrapper-popular:last-child section:last-child  {
    padding-left: 0;
    padding-right: 80px;
}

/*latest news section*/

.latest-news {
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 20px;
    padding: 30px 200px;
}

.latestNews-card {
    flex: 1;
    display: flex;
    background-color: #ffffff;
    position: relative;
}

.latest-news section {
    flex: 1;
}

.card-desc{
    margin: auto 0;
    padding:  0 40px;
}
.card-desc h5 {
    margin: 0;
    font-size: 16px;
    text-transform: capitalize;
    color: #777;

}

.card-desc h5::after {
    display: block;
    content: "";
    width: 40px;
    border-bottom: 3px solid #E5E5E5;
    margin: 20px 0;
}

.card-desc p {
    margin: 0;
}

.news-time {
    position: absolute;
    left: -12px;
    top: 5px;
    border: 2px solid #446084;
    background-color: #ffffff;
    padding: 5px 10px;
}

.news-time span {
    display: block;

    color: #446084;
}


