/*under hero*/

.features {
    padding-top: 80px;
    padding-bottom: 80px;
}

.list-features {
    list-style-type: none;
    text-align: center;
    display: flex;
    padding-left: 0;
    margin: 0;
}

.list-features li:not(:last-child) {
    border-right: 1px solid #ebebeb;
}

.list-features li i {
    border: 2px solid #446084;
    border-radius: 50%;
    margin: 0 auto;
    padding: 12px;
}

.list-features li {

}

.feature-heading {
    text-transform: uppercase;
    color: #555555;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
}

.feature-desc {
    color: #777777;
    padding: 0 20px;

}

/*popular*/


.popular {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

}


.popular2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

}

.popular2 article {
    max-width: 100%;


}


.popular img {
    display: block;
    box-shadow: 1px 2px 7px #E5E5E5;
}

.popular2 img {
    display: block;
    box-shadow: 1px 2px 7px #E5E5E5;
}

.popular article {
    max-width: 100%;
    margin-left: 40px;

}

.latest-article {
    max-width: 300px;

}

.latest-article-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #555555;
}

.latest-article-desc {
    color: #777;
    font-size: 14px;
}

.latest-article-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #446084;
    padding: 8px 14px;
    color: #fff;
}


/*latest news section*/

.latest-news {
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.latestNews-card {
    box-shadow: 1px 2px 7px #E5E5E5;
    display: flex;
    background-color: #ffffff;
    max-width: 500px;
    position: relative;
    margin-left: 25px;
}

.latestNews-card img {
    width: 250px;
    height: 200px;

}


.card-desc {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;

}

.card-desc h5 {
    margin: 0;
    font-size: 16px;
    text-transform: capitalize;
    color: #777;

}

.card-desc h5::after {
    display: block;
    content: "";
    width: 40px;
    border-bottom: 3px solid #E5E5E5;
    margin: 20px 0;
}

.card-desc p {
    margin: 0;
}

.news-time {
    position: absolute;
    left: -12px;
    top: 5px;
    border: 2px solid #446084;
    background-color: #ffffff;
    padding: 5px 10px;
}

.news-time span {
    display: block;

    color: #446084;
}

.section-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: #555555;
}

.section-desc {
    color: #777;
}

.section-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #446084;
    padding: 8px 14px;
    color: #fff;
}

.section-dark {
    background-color: #4a4a4a;
}

.dark-article {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dark-header {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    font-weight: normal;
}

.dark-content {
    max-width: 800px;

}

.dark-desc {
    color: #ffffff;
    font-size: 16px;
}

.dark-link {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    background-color: #4a4a4a;
    padding: 10px 25px;
    margin-top: 55px;
    margin-bottom: 55px;
    letter-spacing: 1.2px;
}

.wrapper {
    max-width: 1136px;
    margin: 0 auto;
    height: 100%;
}

.section-light {
    background-color: #F6F6F6;
}

.articles-wrapper {
    /*display: flex;*/
    /*justify-content: space-between;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
}

.models {
    padding-bottom: 80px;
    padding-top: 80px;
}

.sub-article {
    display: flex;
    padding-bottom: 10px;

    border-bottom: 1px solid #e7e7e7;
}
.sub-article:last-child {
    border-bottom: none;
}

.model-type {
    margin-right: 8px;
}

.model-type h4 {
    text-transform: uppercase;
    color: #6e6e6e;
    letter-spacing: 1px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.model-type h4::after {
    display: block;
    content: "";
    width: 40px;
    border-bottom: 3px solid #b5b5b5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sub-article:not(:last-child) {
    margin-bottom: 10px;
}

.subarticle-desc {
    padding-left: 10px;
}

.subarticle-desc p {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
    color: #324862;
    font-family: Roboto;
}

.subarticle-desc span {
    font-weight: bold;
}

.stars {
    margin-top: 5px;
    margin-bottom: 5px;
}

.stars i {
    color: #D26E4B;
}

.sub-article img {
    height: 70px;
    width: 70px;
    //display: block;
}

.footer {
    background-color: #777777;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 22px;
}

.about-us h4, .tags h4, .signup h4 {
    margin-top: 0;
    color: #e8e8e8;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}

.about-us h4::after, .tags h4::after, .signup h4::after {
    display: block;
    content: "";
    width: 40px;
    border-bottom: 3px solid #a0a0a0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-us p {
    color: #e8e8e8;
    line-height: 1.4;
}

.tags-links a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #e8e8e8;
    color: #e8e8e8;
    background-color: #777777;
    border-radius: 4px;
    padding: 2px 10px;
    margin-right: 3px;
    margin-bottom: 7px;
}

.signup p {
    color: #e8e8e8;
}

label {
    display: none;
}

input[type=email] {
    display: block;
    width: 200px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #929292;
    color: #e8e8e8;

}

input[type=email]::placeholder {
    color: #e8e8e8;
}

button[type=submit] {
    text-transform: uppercase;
    background-color: #4a6081;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 10px;
}
