/*under hero*/

.features {
    padding-top: 80px;
    padding-bottom: 80px;
}

.list-features {
    list-style-type: none;
    text-align: center;
    display: flex;
    padding-left: 0;
    margin: 0;
}

.list-features li:not(:last-child) {
    border-right: 1px solid #ebebeb;
}

.list-features li i {
    border: 2px solid #446084;
    border-radius: 50%;
    margin: 0 auto;
    padding: 12px;
}

.list-features li {

}

.feature-heading {
    text-transform: uppercase;
    color: #555555;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
}

.feature-desc {
    color: #777777;
    padding: 0 20px;

}

/*popular*/


.popular {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

}


.popular2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

}

.popular2 article {
    max-width: 100%;


}


.popular img {
    display: block;
    box-shadow: 1px 2px 7px #E5E5E5;
}

.popular2 img {
    display: block;
    box-shadow: 1px 2px 7px #E5E5E5;
}

.popular article {
    max-width: 100%;
    margin-left: 40px;

}

.latest-article {
    max-width: 300px;

}

.latest-article-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #555555;
}

.latest-article-desc {
    color: #777;
    font-size: 14px;
}

.latest-article-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #446084;
    padding: 8px 14px;
    color: #fff;
}


/*latest news section*/

.latest-news {
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.latestNews-card {
    box-shadow: 1px 2px 7px #E5E5E5;
    display: flex;
    background-color: #ffffff;
    max-width: 500px;
    position: relative;
    margin-left: 25px;
}

.latestNews-card img {
    width: 250px;
    height: 200px;

}


.card-desc {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;

}

.card-desc h5 {
    margin: 0;
    font-size: 16px;
    text-transform: capitalize;
    color: #777;

}

.card-desc h5::after {
    display: block;
    content: "";
    width: 40px;
    border-bottom: 3px solid #E5E5E5;
    margin: 20px 0;
}

.card-desc p {
    margin: 0;
}

.news-time {
    position: absolute;
    left: -12px;
    top: 5px;
    border: 2px solid #446084;
    background-color: #ffffff;
    padding: 5px 10px;
}

.news-time span {
    display: block;

    color: #446084;
}

.section-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: #555555;
}

.section-desc {
    color: #777;
}

.section-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #446084;
    padding: 8px 14px;
    color: #fff;
}

.wrapper {
    max-width: 1136px;
    margin: 0 auto;
    height: 100%;
}

.section-light {
    background-color: #F6F6F6;
}
