/*under hero*/
.company-features {
    list-style-type: none;
    text-align: center;
    display: flex;
    margin: 40px 200px 40px 200px;

}

.company-features li:not(:last-child) {
    border-right: 1px solid #CECECE;
}

.company-features li img {
    display: block;
    border: 3px solid #446084;
    border-radius: 50%;
    margin: 0 auto;
    padding: 4px;
}

.feature-heading {
    text-transform: uppercase;
    color: #555555;
    display: block;
    margin-top: 16px;
}

.feature-desc {
    color: #777777;
    padding: 0 20px 0 20px;
}

/*popular*/
.wrapper-popular {
    width: 100%;
    margin: 0px auto 0px auto;
    background-color: #F6F6F6;
}

.popular {
    display: flex;
    padding: 50px 270px 50px 270px;

}



.popular img {
    display: block;
    box-shadow: 1px 1px 2px #464646;
}

.popular section {
    padding: 50px 0px;
    padding-left: 80px;
}

.section-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: #555555;
}

.section-desc {
    color: #777;
}

.section-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #446084;
    padding: 8px 14px;
    color: #fff;
}

.wrapper-popular:last-child {
    background-color: #ffffff;
}

.wrapper-popular:last-child .popular:last-child{
    display: flex;
    padding: 50px 270px 50px 270px;
    flex-direction: row-reverse;
}

.wrapper-popular:last-child section:last-child  {
    padding-left: 0;
    padding-right: 80px;
}

/*.popular-sec {*/
/*    width: 100%;*/
/*    padding: 0 200px 0 200px;*/
/*}*/


